<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta charset="utf-8"/>
    <meta charset="UTF-8">
    <title>Casys</title>
</head>
<body>



    <div class="container">
        <h1>Casys</h1>
        <div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-default">
                    <label>Product:</label>
                    <p th:text="${product}"></p>
                </li>
            </ul>
        </div>
        <br>
        <br>
        <div>
            <form action="/transaction" method="post">
                <input type="hidden" th:value="${id}" name="id" id="id"><br>
                <input placeholder="Credit Card Number" type="text" name="creditCardNumber"><br>
                <input placeholder="Name" type="text" name="name"><br>
                <select name="creditCardType">
                    <option>Master Card</option>
                    <option>Visa</option>
                    <option>American Express</option>
                    <option>Discover</option>
                </select><br>
                <select name="expirationMonth">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select> /
                <select name="expirationYear">
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                    <option>2028</option>
                    <option>2029</option>
                    <option>2030</option>
                </select><br>
                <input placeholder="Security Code" type="number" name="securityCode"><br>
                <button class="btn btn-secondary" type="submit" name="confirm" value="confirm" > Confirm</button>
                <button class="btn btn-secondary" type="submit" name="cancel" value="cancel" >Cancel</button>
            </form>

        </div>
        <p  th:text="${errorMessage}" > </p>
    </div>
</body>
</html>